@tailwind base;
@tailwind components;
@tailwind utilities;
.scroll-hidden {
    overflow-y: scroll;
  }
  
  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .scroll-hidden {
    scrollbar-width: none; /* Firefox */
  }
    